body {
    font-family: 'Poppins', sans-serif;
}

h1, #bio {
    text-align: center;
}

h3, h1 {
    color: cornflowerblue;
}

.relief-bio {
    color: #F6BE00;
}

a {
    color: darkred;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}